/*
!/.config/

/.config/cava
/.config/byobu
/.config/htop
/.config/dconf
/.config/assets
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/gtk*
/.config/pulse
/.config/systemd
/.config/thorium
/.config/VSCodium
/.config/xsettings*

!/.config/wallpapers
!/.config/hypr
!/.config/rofi
!/.config/nwg-look
!/.config/conky
!.zshrc
