/*
!/.config/
!/.local/

/.config/cava
/.config/byobu
/.config/htop
/.config/dconf
/.config/assets
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/gtk*
/.config/pulse
/.config/systemd
/.config/thorium
/.config/VSCodium
/.config/xsettings*
/.local/share/Steam
/.local/share/zed
/.local/zed*
/.local/share/mime
/.local/share/*
/.local/state

!/.local/share/rofi
!/.config/wallpapers
!/.config/hypr
!/.config/rofi
!/.config/nwg-look
!/.config/conky
!.zshrc
