/** ********** Colors ********** **/
@define-color background      #070707;
@define-color background-alt1 #161616;
@define-color background-alt2 #202020;
@define-color foreground      #ed8182;
@define-color selected        #AE0B0B;
@define-color black           #070707;
@define-color red             #423F3F;
@define-color green           #524F50;
@define-color yellow          #8F0C0D;
@define-color blue            #AE0B0B;
@define-color magenta         #AE2121;
@define-color cyan            #CE0F0F;
@define-color white           #ed8182;
